<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <h1>Welcome</h1>

    <form class="homeForm" th:action="@{/}" method="get">
        <div class="form-group">
            <label for="email">Email</label>
            <input
                    class="home_input"
                    id="email"
                    type="text"
                    name="username"
                    placeholder="Your email..">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input
                    class="home_input"
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Your password..">
        </div>

        <button type="submit" class="login-btn">Login</button>
    </form>
</div>
</body>
</html>